<div class="jumbotron">
  <h1>Jumbotron main</h1>
  
  <!-- <p><a class="btn btn-lg btn-success" ng-href="#/">Button<span class="glyphicon glyphicon-ok"></span></a></p> -->
</div>

<div class="container" ng-controller="MainCtrl">
  <table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="repo in repos">
      <th scope="row">{{repo.name}}</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    
  </tbody>
</table>
</div>
