
  <div class="jumbotron">
    <p id="header">X Formation repository stats</p>
    
<!--     <p><a class="btn btn-lg btn-success" ng-href="#/">Button<span class="glyphicon glyphicon-ok"></span></a></p> -->
  </div>

  <div class="container">
    <table class="table">
    <thead>
      <tr>
        <th>Repository name</th>

        <th><a href="#/" ng-click="sortType = 'forks_count'; sortReverse = !sortReverse"> Forks count 
        <span ng-show="sortType == 'forks_count' && sortReverse" class="glyphicon glyphicon-triangle-bottom""></span>
        <span ng-show="sortType == 'forks_count' && !sortReverse" class="glyphicon glyphicon-triangle-top""></span>
        </th>

        <th><a href="#/" ng-click="sortType = 'size'; sortReverse = !sortReverse"> 
        Size 
        <span ng-show="sortType == 'size' && sortReverse" class="glyphicon glyphicon-triangle-bottom""></span>
        <span ng-show="sortType == 'size' && !sortReverse" class="glyphicon glyphicon-triangle-top""></span>
        </th>

        <th><a href="#/" ng-click="sortType = 'updated_at'; sortReverse = !sortReverse">
        Last update 
        <span ng-show="sortType == 'updated_at' && sortReverse" class="glyphicon glyphicon-triangle-bottom""></span>
        <span ng-show="sortType == 'updated_at' && !sortReverse" class="glyphicon glyphicon-triangle-top""></span>
        </th>

        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="repo in repos | orderBy:sortType:sortReverse">
        <th scope="row">{{repo.name}}</th>
        <td>{{repo.forks_count}}</td>
        <td>{{repo.size}}</td>
        <td>{{repo.updated_at | date}}</td>
        <td>{{repo.description}}</td>
      </tr>
      
    </tbody>
  </table>
  </div>
